.headshot {
  max-width: 800px;
  margin: 0;
  padding: 0;
}

.contact-img {
  margin-top: 2%;
  width: 35%;
  max-width: 400px;
  min-width: 300px;
  border: 5px solid black;
  border-radius: 50%;
  box-shadow: 2px 1px 10px 2px #888888;
}

.contact-list {
  list-style-type: none;
  font-size: 5em;
  margin-top: 4%;
  margin-bottom: 4%;
}

.contact-list li {
  display: inline;
}

.contact-list li a{
  text-decoration: none;
  color: black;
}

.contact-list li a:hover{
  text-decoration: none;
  color: orange;
}

.about {
  max-height: 900px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-me-list {
  list-style-type: square;
  text-align: left;
}

section {
  border: 1px solid black;
  box-shadow: 2px 5px 10px 5px #888888;
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 2%;
  margin-bottom: 0;
}

section:after {
   content: " ";
   display: block;
/*   height: 0;
*/   clear: both;
}


.brand a {
  padding: 5px 0 1% 1%;
  float: left;
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.brand a:hover {
  color: orange;
}

.fixed-navbar {
  border: 2px solid black;
  height: 50px;
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: black;
  color: white;
  opacity: 1;
}

.fixed-navbar ul {
  list-style-type: none;
  float: right;
  margin-right: 5%;
  font-size: 1.2em;
}

.fixed-navbar ul li {
  display: inline;
}

.fixed-navbar ul li a {
  text-decoration: none;
  margin-right: 20px;
  color: gray;
}

.fixed-navbar ul li a:hover{
  color: orange;
}

.landing {
  text-align: center;
  font-size: 2em;
  padding: 15% 0 20% 0;
  height: 60vh;
 /* background-image: url('../img/rainbow.JPG');
  background-size: 400vw;
  color: white;*/
}

.landing .sub-heading{
  color: orange;
}

.about-left {
  float:left;
  height: 400px;
  padding: 0;
}


.about-right {
  margin-top: 10%;
  font-size: 1.4em;
}

.skills-container {
  clear: both;
  text-align: center;
  color: white;
  background-color: black;
  padding: 2% 0 2% 0;
  margin: 0;
  overflow: hidden;
  font-size: 1em;
/*  height: 30%;
*/}


.skills-tech {
  float: left;
  width: 30%;
  margin-left: 15%;
  margin-right: 5%;
}

.skills-art {
  float: left;
  margin-left: 5%;
  margin-right: 15%;
  width: 30%;
}

.portfolio {
  text-align: center;
}

.portfolio h1 {
  clear: both;
  padding-top: 2%;
}

.portfolio-item {
    right: 0;
    margin: .1666%;
    min-width: 300px;
    width: 33%;
    float: left;
}


.portfolio-item img {
  width: 100%;
}



/*.portfolio-item a:link{
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}*/

/*.portfolio-item a:hover{
  transition: .6s;
  opacity: .2;
   -webkit-filter: grayscale(0%);
  filter: grayscale(0%);

}*/

.contact {
  text-align: center;
}

footer {
  padding: 1% 0 1% 2%;
}




#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    color: black;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 99%;
    opacity: 0;
    background: rgba(192,192,192,0.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
/*    top: 25%;
*/  padding: 20% 3% 1% 3%;
    width: 94%;
    height: 79%;
    text-align: center;
    font-size: 1em;
    color: black;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h5 {
    margin: 0;
}

@media (max-width: 912px) {

  body  {
    background-color: white;
  }

  .about-right {
    font-size: 1em;
  }

  .skills-container {
    font-size: 1em;
  }

  .portfolio-item {
    margin: .1666%;
    width: 49.5%;
    min-width: 200px;
  }

}

@media (max-width: 595px) {
  .portfolio-item {
    margin: 1% 10% 1% 10%;
    width: 80%;
    min-width: 200px;
    max-width: 500px;
  }


  .brand a {
    font-size: 1.5em;
    padding: 2%;
  }

  .fixed-navbar ul {
    font-size: .8em;
  }

  .fixed-navbar ul li a {
    margin-right: 0;
    margin-left: 5px;
  }

  .headshot {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 0;
    width: 50%;
    border: 5px solid black;
    border-radius: 50%;
  }


  .about-right {
    text-align: center;
    margin: 2% 10% 0 10%;
    width: 80%;
  }

  .about-right h1 {
    margin: 0;
  }


.skills-container {
  font-size: .9em;
}

  .contact-list {
  font-size: 3em;
  }

  .contact-img {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 70%;
  }

}



