
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "century gothic", arial;
  background-color: black;
    }

#header {
  background-color: white;
  color: white;
  margin: 0;
  padding: 10px 10px 25px 10px;
  height: 50px;
  width: 100%;
}


#profile-pic img {
    float: left;
    margin: 7px 40px 5px 20px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

#site-title {
  float: left;
  margin-top: 25px;
  margin-left: 2px;
  font-size: 20px;
  color: #738DAC;
}


#navigation {
  clear: both;
  background-color: MediumTurquoise;
  padding-bottom: 5px;
  border-top: white 5px solid;
  border-bottom: white 5px solid;
  width: 100%;
}


#navigation td a:link {
  font-size: 35px;
  color: #FEF9ED;
  margin-left: 55px;
}

#navigation td a:hover {
  color: #89C8FF;
}

#center {
  margin: 50px;
  background-color: white;
  color: #222D3C;
  height: 55%;
}

#title {
  border-bottom: 2px solid #738DAC;
  color: black;
  text-align: left;
  font-size: 40px;
  padding: 10px;
  margin: 10px;
}

#date {
  font-size: 15px;
  padding: 0 0 0 12px;
  margin: 0 0 0 10px;
}

#blog-body{
  padding: 5px;
  margin: 5px 10px 10px 10px;
}

#blog-body img {
    margin: 2px 15px 3px 5px;
    width: 200px;
    float: left;

}

#footer {
  clear: both;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-color: MediumTurquoise;
  text-align: center;
  color:white;
  padding-top: 20px;
  font-size: 15px;
  height: 40px;
  width: 100%;
}

#footer a:link {
  color: white;
}


#footer a:hover {
  color: #89C8FF;
}