html {
background-color:black;
}

body {
  min-height: 100%;
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 0;
  font-family: "Amatic SC", cursive;
  background-image: url("IMG_0140.JPG");
}

#header {
  height: 100px;
  width: 100%;
}

  #georgianna {
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 25px;
  }

#navigation {
  width: 100%;
  border-top: white 5px solid;
  border-bottom: white 5px solid;
  clear: both;
  font-family: "Amatic SC", cursive;
  background-color: black;
}

    #navigation ul {
      width: 90%;
      list-style: none;
      text-align: center;
    }

    #navigation li {
      display: inline;
      margin-left: 5%;
    }

    #navigation ul a:link {
      font-size: 35px;
      color: skyBlue;
      text-align: center;
      text-decoration: none;
    }

    #navigation ul a:hover {
      color: white;
    }

    #navigation ul a:visited {
      color: white;
    }

#content {
  width: 100%;
  background-image: url("IMG_0140.JPG");
  min-height: 300px;
}

.text-box {
  background-color: white;
  color: #222D3C;
  min-height: 400px;
  min-width: 25%;
  max-width: 80%;
}

.text-box a:link {
  color: skyBlue;
}

.text-box a:hover {
  color: black;
}

#text-box-heading {
  background-color: skyBlue;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 80%;
  margin-left: 10%;
}

#left-box {
  float: left;
  margin: 7% 15% 7% 15%;
  width:70%;
}
#left-box-heading {
  background-color: skyBlue;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 100%;
}
#left-box ul {
  padding-left: 25px;
  padding-right: 10px;
  margin-left: 0;
}

#left-box p {
  padding: 1%;
}


#right-box {
  float: left;
  margin: 7% 0 7% 5%;
  max-width: 50%;
}

#right-box p {
  padding: 0 5% 0 3%;
}

#right-box img {
  width: 65%;
  margin: 1% 4% 1% 2%;
  float: left;
}

#blog-box {
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  font-family: "Josefin Sans";
}

#blog-box p {
  margin: 5px 2% 10px 2%;
  padding-bottom: 2px;
  padding-top: 0;
  float: left;
}

#blog-box img {
  width: 50%;
  margin: 2%;
  float: left;
}

#previous-next {
  text-align: center;
  font-size: 20px;
  padding-bottom: 1%;
  background-color:skyBlue;
  clear: both;
}

#previous-next a:link {
  color: white;
  text-decoration: none;
}

#previous-next a:hover {
  color: black;
}

#date {
  background-color: white;
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
}

#footer {
  height: 55px;
  width: 100%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-color: black;
  color:white;
  clear: both;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  background-color: white;
  float: left;
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 15px 6px 0 6px;
}


@media (max-width: 400px) {


#georgianna {
  font-size: 40px;
}

  #navigation ul a:link {
    font-size: 25px;
  }

  #navigation ul {
    text-align: left;
  }

  .text-box {
    min-width: 60%;
  }

  #blog-box img {
  max-width: 80%;
  }

  #right-box img {
    max-width: 50%;
  }

  .icon {
    margin-left: 5px;
  }

  #icon-text {
    font-size: 15px;
    margin: 10px;
  }
}

