html {
background-color:black;
}

body {
  min-height: 100%;
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 0;
  font-family: "Amatic SC", cursive;
  background-image: url("IMG_0140.JPG");
}

#header {
  height: 100px;
  width: 100%;
}

  #header-text {
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 20px;
  }

#navigation {
  width: 100%;
  border-top: white 5px solid;
  border-bottom: white 5px solid;
  clear: both;
  font-family: "Amatic SC", cursive;
  background-color: black;
}

    #navigation ul {
      width: 85%;
      list-style: none;
      text-align: center;
    }

    #navigation li {
      display: inline;
      margin-left: 5%;
    }

    #navigation a:link {
      font-size: 35px;
      color: skyBlue;
      text-align: center;
      text-decoration: none;
    }

    #navigation a:hover {
      color: white;
    }

    #navigation a:visited {
      color: white;
    }

#content {
  width: 100%;
  background-image: url("IMG_0140.JPG");
  min-height: 150px;
}

.text-box {
  background-color: white;
  color: #222D3C;
  min-height: 150px;
}

    .text-box ul a:link {
      color: skyBlue;
    }

    .text-box ul a:hover {
      color: black;
    }

    .text-box ul a:visited {
      color: skyBlue;
    }

#date {
  background-color: white;
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  padding-top: 1%;
}

#info-box {
  float: left;
  margin: 2% 15% 2% 15%;
  width:70%;
  border-bottom: 30px solid skyBlue;
}

#info-box-heading {
  background-color: skyBlue;
  color: white;
  text-align: center;
  font-size: 30px;
  width: 100%;
}
      #info-box h2 {
          margin: 4% 4% 0 4%;
        }

      #info-box ul {
        padding-left: 25px;
        padding-right: 10px;
        margin-left: 0;
      }

      #info-box p {
        margin: 4%;
      }

      #info-box img {
        width: 50%;
        max-width: 200px;
        margin: 3% 4% 3% 4%;
        float: right;
      }

#blog-box {
  font-size: 15px;
  width: 80%;
  margin-left: 10%;
  font-family: "Josefin Sans";
}

#blog-box-heading {
  background-color: skyBlue;
  color: white;
  text-align: center;
  font-size: 60px;
  width: 80%;
  margin-left: 10%;
}

      #blog-box p {
        margin: 5px 2% 10px 2%;
        padding-bottom: 2px;
        padding-top: 0;
        float: left;
      }

      #blog-box img {
        width: 90%;
        margin: 2% 5% 2% 5%;
        float: left;
      }

      #blog-box a:link {
         color: skyBlue;
      }


#previous-next {
  text-align: center;
  font-size: 20px;
  padding-bottom: 1%;
  background-color:skyBlue;
  clear: both;
}
    #previous-next a:link {
      color: white;
      text-decoration: none;
    }

    #previous-next a:hover {
      color: black;
    }

#footer {
  height: 55px;
  width: 100%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-color: black;
  clear: both;
}

#footer a:hover {
  color: skyBlue;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px 0 5px 9%;
  padding: 15px 6px 0 6px;
  float: left;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) {

#header_text {
  font-size: 40px;
}

  #navigation ul a:link {
    font-size: 25px;
  }

  #navigation ul {
    text-align: left;
  }

  .text-box {
    min-width: 60%;
  }

  #blog-box img {
  width: 95%;
  margin: 2% 2.5% 2% 2.5%;
  }

  #info-box h2 {
    font-size: 15px;
  }

  #info-box img {
    max-width: 50%;
  }

  .icon {
    margin-left: 10px;
  }

}

@media (min-width: 1000px) {

  .icon {
    margin-left: 13%;
  }

}

